@page
@model ContosoCrafts.WebSite.Pages.Product.IndexModel
@{
    ViewData["Title"] = "Index page";
}
                
<div class="">
    @foreach (var product in Model.Products)
    {
        <div class="card bg-primary border-light shadow-soft mb-3 page_enter">
            <div class="row g-0">
                <div class="col-md-2">
                    <img src="@product.Image" class="card-img-top rounded" alt="@product.Image" />
                </div>
                <div class="col-md-10">
                    <div class="card-body">
                        <h4 class="card-title">@product.Brand</h4>
                        <h6 class="card-subtitle text-muted">@(((Models.ProductTypeEnum)product.ProductType))</h6>
                        <h6 class="card-text">@product.ProductDescription</h6>
                        <a asp-page="Read" asp-route-id="@product.Id" class="btn btn-outline-primary float-right animate-up-2 btn-block mb-4">Read</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>