@page
@using ContosoCrafts.WebSite.Enums
@using ContosoCrafts.WebSite.Models
@model ContosoCrafts.WebSite.Pages.Product.IndexModel
@{
    ViewData["Title"] = "Index page";
}
                
<div class="jumbotron theme-jumbotron">
    <h1 class="theme-heading">Admin View</h1>
    <table class="table table-hover shadow-inset rounded">
        <thead>
            <tr>
                <th>Brand</th>
                <th>Product Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <td>@product.ProductName</td>
                    <td>@(product.ProductType.DisplayName())</td>
                    <td>
                        <a asp-page="/Product/Read" asp-route-id="@product.Id" class="btn btn-primary theme-btn-primary">Read</a>
                        <a asp-page="/Product/Update" asp-route-id="@product.Id" class="btn btn-primary theme-btn-primary">Update</a>
                        <a asp-page="/Product/Delete" asp-route-id="@product.Id" class="btn btn-primary theme-btn-primary text-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-page="Create" class="btn btn-pill btn-success position-fixed z-9 bottom-lg right-lg">
        <i class="fa fa-plus"></i> Create
    </a>
</div>