@page
@using ContosoCrafts.WebSite.Models
@model ContosoCrafts.WebSite.Pages.Product.IndexModel
@{
    ViewData["Title"] = "Index page";
}
                
<div class="">
    <a asp-page="Create" class="btn btn-success mb-3">Create New Product</a>
    @foreach (var product in Model.Products)
    {
        <div class="card bg-primary border-light shadow-soft mb-3 page_enter">
            <div class="row g-0">
                <div class="d-flex flex-column col-md-2 ml-2 mt-2">
                    <img src="@product.Image" class="card-img-top rounded mb-2" alt="@product.Image" />
                    <a asp-page="Update" asp-route-id="@product.Id" class="btn btn-primary float-right animate-up-2 btn-block mb-2">Update</a>
                    <a asp-page="Delete" asp-route-id="@product.Id" class="btn btn-primary text-danger float-right animate-up-2 btn-block mb-2">Delete</a>
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <h4 class="card-title">@product.Brand</h4>
                        <h6 class="card-subtitle text-muted mb-2">@(((Models.ProductTypeEnum)product.ProductType).DisplayName())</h6>
                        <h6 class="card-text">@product.ProductDescription</h6>
                        <a asp-page="Read" asp-route-id="@product.Id" class="btn btn-primary float-right animate-up-2 btn-block mb-4">Read</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>