@page "{id}"
@using ContosoCrafts.WebSite.Enums
@using ContosoCrafts.WebSite.Models
@using ContosoCrafts.WebSite.Services
@inject JsonFileProductService ProductService
@model ContosoCrafts.WebSite.Pages.Product.ReadModel

@{
    ViewData["Title"] = "Read page";
}

<div class="d-flex align-content-center justify-content-between w-100">
    <h1 class="theme-heading">Read</h1>
    <div>
        <a asp-page="/Product/Update" asp-route-id="@Model.Product.Id" class="btn btn-primary theme-btn-primary animate-up-2 mb-4">Update</a>
        <a asp-page="/Product/Delete" asp-route-id="@Model.Product.Id" class="btn btn-primary theme-btn-primary text-danger animate-up-2 mb-4">Delete</a>
    </div>
</div>

<div class="jumbotron theme-jumbotron page_enter">
    <div class="d-flex align-content-center justify-content-between">
        <h1 class="theme-heading">@Model.Product.Brand, @(Model.Product.ProductType.DisplayName())</h1>
    </div>
    <hr class="theme-hr my-2">
    <div class="row g-0">
        <div class="d-flex flex-column col-md-5 ml-2 mt-2">
            <img src="@Model.Product.Image" class="card-img-top rounded mb-4" alt="@Model.Product.Image" />
        </div>
        <div class="col-md-6">
            <p class="">@Model.Product.ProductDescription</p>
        </div>
    </div>
</div>