@page "{id}"
@using ContosoCrafts.WebSite.Models
@using ContosoCrafts.WebSite.Services
@inject JsonFileProductService ProductService
@model ContosoCrafts.WebSite.Pages.Product.ReadModel

@{
    ViewData["Title"] = "Read page";
}

<h1 class="">Read</h1>

<div class="content"
    style="background-image: url('@Model.Product.Image');
           height: 100vh;
           background-position: center;
           background-repeat: repeat;
           object-fit: cover;
          ">
    <div class="text-white bg-translucent-dark">
        <div class="container d-flex align-items-center justify-content-center text-center h-100">
            <div>
                <h5 class="mb-2" id="productTitle">@Model.Product.Brand</h5>
                <h5 class="mb-5 text-muted">@(((ProductTypeEnum)@Model.Product.ProductType).DisplayName())</h5>
                <p>@Model.Product.ProductDescription</p>
            </div>
        </div>
    </div>
    <a asp-page="Update" asp-route-id="@Model.Product.Id" class="btn btn-primary animate-up-2 my-4">Update</a>
    <a asp-page="Delete" asp-route-id="@Model.Product.Id" class="btn btn-primary text-danger animate-up-2 my-4">Delete</a>
</div>
